body {
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
    padding-left: 20px;
}

html,body {width:100%;height:100%;margin:0;padding:0;}

#map {
    display: block;
    position:absolute;
    width: 100%;
    height:auto;
    bottom:0;
    top:50px;
    left:0;
    right:0;
    margin-top:0px; 
}

.info-window {
    font-family: 'Montserrat', sans-serif;
}
.info-content {
    color: #999;
}
@media (max-width: 1500px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
.btn.btn-default {
    height: 34px!important;
}
/* for notes */